<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/dk.css">
    </head>
    <body>
        {% if is_december %}
        <iframe style="width: 100%; min-height: 100vh;" src="https://www.youtube.com/embed/KuvDsT4sRzU?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; mute; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
        {% else %}
        <h1>It's not December...</h1>
        <img src="../static/dk.png">
        {% endif %}
    </body>
</html>
